.container{
    position: relative;
    width: 400px;
    height:400px;
    
}
.icon{
    position: absolute;
    top:30%;
    transform: translateY(-70%);
    z-index: 1;
}
.icon li {
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 0;
    /* background-color: silver; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border:1px solid rgba(255, 255, 255, 0.25);
    border-top:1px solid rgba(255, 255, 255, 0.5);
    border-left:1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}
.card{
    position: absolute;
    top: -20px;
    right: -60px;
    width: 350px;
    height:100%;
    background-color: red; 
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border:1px solid rgba(255, 255, 255, 0.25);
    border-top:1px solid rgba(255, 255, 255, 0.5);
    border-left:1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}
.title {
    position: absolute;
    top:-38px;
    background: seashell;
    display: inline-block;
    text-decoration: none;
    padding:15px 30px;
    border-radius: 30px;
    box-shadow:     0 15px 35px rgba(0, 0, 0, 0.1);
    color:#C400FF;
}
