* {
    margin:  5% 15% 0 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position:fixed;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: flex-end;
    /* width: 65%; */
    background-color: red;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
}
.toggle{
    position: absolute;
    top: 0%;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #9051ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 50%;
}
.toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}
.toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}
.toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
.toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
.navbar {
    position: relative;
    height: 90px;
    right: 60px;
    background: #fff;
    transition:0.5s; 
    width: 0px;
    overflow: hidden;
}
.navbar.active{
    width: 630px;
}
.navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
}
.navbar ul li {
    list-style: none;
    color: #12334e;
    /* height: 60x; */
    top:0%;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    /* padding: 0 15px; */
    letter-spacing: 2px;
}